{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<div class="form_field">
    <h2>Add New Team Member</h2>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}



    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="text" name="name" id="name" maxlength="35" placeholder="Enter Member Name" required>

        <input type="text" name="position" id="position" maxlength="35" placeholder="Enter Position" required>

        <input type="text" name="mandatory_field" id="mandatory_field" value="{{ member.mandatory_field }}"
            placeholder="This field is mandatory">

        <input type="file" name="image" id="image">

        <input type="url" name="instagram_url" id="instagram_url" maxlength="255" placeholder="Instagram URL">

        <input type="url" name="twitter_url" id="twitter_url" maxlength="255" placeholder="Twitter URL">

        <input type="url" name="linkedin_url" id="linkedin_url" maxlength="255" placeholder="LinkedIn URL">

        <input type="submit" class="submit" value="Add Member">
    </form>
</div>
{% endblock %}