{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<div class="form_field">
    <h2>Add New Service</h2>


    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}



    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="text" name="service_title" id="service_title" maxlength="110" placeholder="Enter Service Title"
            required>

        <textarea name="service_description" id="service_description" maxlength="5000"
            placeholder="Enter Service Description"></textarea>


        <input type="file" name="service_icon" id="service_icon">

        <input type="file" name="service_image" id="service_image">

        <input type="text" name="mandatory_field" id="mandatory_field" value="{{ member.mandatory_field }}"
            placeholder="This field is mandatory">

        <input type="submit" class="submit" value="Add Service">
</div>

{% endblock %}