{% extends "main/layout.html" %}

{% block content %}

{% if about_hero %}
<div class="contact_text">
    <h1>
        <span>TechMart Liberia: </span> Your Gateway to Technology in Liberia
    </h1>
    {% for about in about_hero %}
    <p>
        {{ about.about_hero_text_body}}
    </p>
    {% endfor %}
</div>
{% endif %}

<!--contact-->
<contact>
    <section class="contact">

        <div class="contact_form_text">
            <div class="contact_form_text_header">
                <h2>Ready To<span> Start Your Project?</span></h2>
                <p>We are ready to help your business grow with the right technology solutions.</p>
            </div>


            <div class="list">
                <div class="list_content">
                    <i class="fa-solid fa-phone"></i>
                    <li><a href="tel:+231 88 880 6060">+231 88 880 6060</a></li>
                </div>

                <div class="list_content">
                    <i class="fa-regular fa-envelope"></i>
                    <li><a href="mailto:info@techmartliberia.com">info@techmartliberia.com</a></li>
                </div>

                <div class="list_content">
                    <i class="fa-solid fa-location-dot"></i>
                    <li>
                        <a href="https://www.google.com/maps/search/?api=1&query=Duport+Road,+Monrovia,+Liberia"
                            target="_blank">
                            Duport road, Monrovia, Liberia
                        </a>
                    </li>
                </div>
            </div>

            <div class="contact_icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>


        
        <div class="contact-form">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            <form action="{% url 'main:contact_us' %}" method="post">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Full Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="tel" name="tel" placeholder="Telephone" required>
                <input type="text" class="mandatory_field" name="mandatory_field" id="mandatory_field"
                    value="{{ member.mandatory_field }}" placeholder="This field is mandatory">
                <textarea name="message" cols="35" rows="10" placeholder="Your Message" required></textarea>

                <!-- Google Recapture -->
                <div class="g-recaptcha" data-sitekey="6Ld4HnksAAAAAEA1WllgjmcvAxhHXV2yYyS-w6li"
                    data-callback="enableSubmit"> </div>

                <center>
                    <input type="submit" id="submit" value="Send Message" class="submit" disabled>
                </center>
            </form>
        </div>

    </section>

</contact>


<!-- Google Recapture Script For Callback -->
<script>
    function enableSubmit() {
        document.getElementById("submit").disabled = false;
    }

    function disableSubmit() {
        document.getElementById("submit").disabled = true;
    }
</script>

{% endblock %}