{% extends "main/layout.html" %}

{% block content %}

<div class="contact_text">
    <h1>
        <span>TechMart Liberia: </span> Your Gateway to Technology in Liberia
    </h1>
    <p>
        Welcome to TechMart Liberia, your one-stop shop for all things tech in Liberia. Explore our wide range of products, services, and events. Stay connected with us for the latest updates and innovations in technology.
    </p>
</div>

<!--contact-->
<contact>
    <section class="contact">
        <div class="contact_text">
            <h2>Contact<span> Us!</span></h2>
            <h4>If You Have Any Project In Mind</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio nobis, suscipit tempore nulla iusto
                quam ipsam.
            </p>

            <div class="list">
                <li><a href="tel:+2331231231234">+233 23 123 1234</a></li>
                <li><a href="mailto:info@techmartliberia.com">info@techmartliberia.com</a></li>
            </div>

            <div class="contact_icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>

        <div class="contact-form">
            <form action="">
                <input type="name" placeholder="Full Name" required>
                <input type="email" placeholder="Email" required>
                <input type="tel" placeholder="Telephone" required>
                <textarea name="" cols="35" rows="10" placeholder="Your Message" required></textarea>
                <center>
                <input type="submit" value="Send Message" class="submit" required>
                </center>
            </form>
        </div>

    </section>

</contact>
   

{% endblock %}