{% extends 'main/layout.html' %}

{% block content %}
<div class="service_page">
    <div class="contact_detail_info">
        <div class="contact_detail_info_address">
            <h2>
                {{ contact.name }}
            </h2>

            <h4>
                <a href="tel:{{ contact.tel }}">{{ contact.tel }}</a>
            </h4>

            <h4>
                <a href="mailto:{{ contact.email }}" style="color: var(--color_gold);">{{ contact.email }}</a>
            </h4>
        </div>
        <p> {{ contact.message|linebreaksbr }}</p>
    </div>
</div>
{% endblock %}