{% extends "main/layout.html" %}
{% load static %}


{% block content %}
<div class="hero_section">
    {% for hero in hero_section %}
    <div class="hero_image">
        <img src="{{ hero.hero_image.url }}" alt="Tech Mart Liberia Hero Image">
    </div>

    <div class="hero_text">
        <div class="hero_text_title">
            <h1>
                {{ hero.hero_text_title|title }}
            </h1>
        </div>

        <div class="hero_text_body">
            <p>
                {{ hero.hero_text_body|truncatechars:701 }}
            </p>
        </div>
        <div class="hero_link">
            <a href="{% url 'main:services' %}">Explore Our Services</a>
        </div>
    </div>
    {% endfor %}
</div>


<div class="team">

    <center>
        <h2 class="gradient_text">Meet Our Team</h2>
    </center>

    <div class="container team_container">
        {% for member in team_members %}
        <article class="team_member">
            <div class="team_member-image">
                <img src="{% static 'main/images/profile.png' %}">
            </div>
            <div class="team_member-info">
                <h3>{{ member.name }}</h3>
                <p>{{ member.position }}</p>
            </div>
            <div class="team_member-socials">
                <a href="{{ member.instagram_url }}" target="_blank">
                    <img src="{%static 'main/images/instagram.png'%}" alt="Instagram Icon">
                </a>
                <a href="{{ member.twitter_url }}" target="_blank">
                    <img src="{%static 'main/images/x.png'%}" alt="X Icon">
                </a>
                <a href="{{ member.linkedin_url }}" target="_blank">
                    <img src="{%static 'main/images/linkedin.png'%}" alt="LinkedIn Icon">
                </a>
            </div>
        </article>
        {% endfor %}
    </div>
    {% if team_members|length == 0 %}
    <div class="empty_notification">
        <center>
            <p>No team members available.</p>
        </center>
    </div>
    {% endif %}
</div>
{% endblock %}