{% extends "main/layout.html" %}
{% load static %}


{% block content %}
<div class="hero_section">
    {% for hero in hero_section %}
    <div class="hero_image">
        <img src="{{ hero.hero_image.url }}" alt="Tech Mart Liberia Hero Image">
    </div>

    <div class="hero_text">
        <div class="hero_text_title">
            <h1>
                {{ hero.hero_text_title|title }}
            </h1>
        </div>

        <div class="hero_text_body">
            <p>
                {{ hero.hero_text_body|truncatechars:701 }}
            </p>
        </div>
        <div class="hero_link">
            <a href="{% url 'main:services' %}">Explore Our Services</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}