{% extends "main/layout.html" %}
{% load static %}


{% block content %}
<div class="hero_section">
    <div class="hero_image">
        <img src="{% static 'main/images/hero.jpg' %}" alt="Tech Mart Liberia Hero Image">
    </div>

    <div class="hero_text">
        <div class="hero_text_title">
            <h1>Welcome To Your One Stop Tech Hub</h1>
        </div>

        <div class="hero_text_body">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam ut magnam doloremque totam
                voluptatibus
                repellendus aperiam illo itaque at pariatur sed blanditiis labore, rem adipisci corrupti eum id enim
                fugiat,
                placeat cumque quasi delectus alias. Provident distinctio quasi dolorum velit ut laborum assumenda
                deserunt
                optio sit autem itaque fugit alias recusandae amet iste necessitatibus, tempore quibusdam quo
                voluptatibus,
                rem ea quas dolorem? Laboriosam commodi tempore beatae doloremque repellendus vel totam nulla accusamus
                architecto eligendi praesentium, minima, cupiditate doloribus, quas laborum.
            </p>
        </div>
        <div class="hero_link">
            <a href="{% url 'main:services' %}">Explore Our Services</a>
        </div>
    </div>
</div>

{% endblock %}