<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title-->
    <title>Tech Mart Liberia</title>

    <!--Google's Material Font-->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <!-- Page Links-->
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <script src="{% static 'main/js/script.js' %}" defer></script>
</head>






<body>
    <nav>
        <div class="nav_logo">
            <a href="{% url 'main:index' %}">
                <img src="{% static 'main/images/logo.png' %}" alt="Tech Mart Liberia Logo">
            </a>
        </div>
    
    <div class="menu_items">
            <ul>
                <li><a href="{% url 'main:index' %}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">Home</a></li>
                <li><a href="{% url 'main:about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">About</a></li>
                <li><a href="{% url 'main:services' %}" class="{% if request.resolver_match.url_name == 'services' %}active{% endif %}">Our Services</a></li>
                <li><a href="{% url 'main:contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Contact Us</a></li>

                {% if user.is_authenticated %}
                <li><a href="{% url 'main:user_dash' %}" id="dashboard">Dashboard</a></li>
                <li><a href="{% url 'main:logout' %}" id="logout">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>




    <main>
        {% block content %}

        {% endblock %}
    </main>






    <footer>
        <center>
            <a href="">
                <p>&copy;2026 Built on Agble Technologies. All rights reserved.</p>
            </a>
        </center>
    </footer>
</body>

</html>