{% extends "main/layout.html" %}
{% load static %}

{% block content %}

<div class="service_page">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="service_page_title">
        <h1>{{ service.service_title }}</h1>
    </div>

    <div class="service_page_image">
        <img src="{{ service.service_image.url }}" alt="{{ service.service_title }} Image">
    </div>

    <div class="service_page_description">
        <p>
            {{ service.service_description }}
        </p>
    </div>
</div>
{% endblock %}