@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 200,
    "GRAD"-25,
    "opsz" 20;
}

* {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: 0;
  align-items: center;
  text-decoration: none;
  line-height: 1;
  align-items: center;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  scroll-padding-bottom: 2rem;
  overflow-x: hidden;
  color: var(--text_color);

  ::-webkit-scrollbar {
    width: 1.5px;
  }

  /* Prevent text selection and cursor blinking  */
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For IE/Edge */
  -moz-user-select: none; /* For IE/firefox */

  ::-webkit-scrollbar-thumb {
    background: var(--text_color);
    border-radius: 50%;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

:root {
  --default_bg: #222121;
  --deep_bg: #0b0b0b;
  --color_gold: #f8c641;
  --text_color: #ffffff;
  --text_color_variant: rgb(71, 71, 71);
  --color_danger: #f03333;
  --nav_bg: rgba(0, 0, 0, 0.2); /* adds transparency so blur can show through */
  --transition: all 300ms ease;
  --box_shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
  --opacity: 0.9;
  --border_radius: 0.5rem;
}

h1 {
  font-size: 2.1rem;
  font-weight: 650;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

h4 {
  font-size: 0.9rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
}

body {
  background-color: var(--default_bg);
}

/* --------------------------------- Nav Section Styles ----------------------------------------------- */
nav {
  background-color: var(--nav_bg);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  height: 2.9rem;
  margin: 0;
  padding: 0 10rem;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(20px);
  transition: var(--transition);
}

span {
  color: var(--color_gold);
}

nav:hover {
  box-shadow: var(--box_shadow);
}

.nav_logo {
  width: 3.5rem;
  height: 2.5rem;
  overflow: hidden;
}

.nav_logo img {
  width: 100%;
  height: 100%;
}

.menu_items ul {
  display: flex;
  gap: 0.5rem;
}

.active {
  background-color: var(--color_gold);
  padding: 0.5rem 0.1rem;
  border-radius: var(--border_radius);
}

.menu_items ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.menu_items ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5px;
  background-color: var(--color_gold);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.menu_items ul li a:hover {
  color: var(--color_gold);
}

.menu_items ul li a:hover::after {
  transform: scaleX(1);
}

main {
  margin-top: 3rem;
  padding: 0 10rem;
  margin-bottom: 5rem;
}

/* --------------------------------- Index Page Styles ----------------------------------------------- */
.hero_section {
  position: relative;
  height: 30rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.hero_section::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* Blend more at the bottom, subtle on left/right */
  background:
    linear-gradient(
      to bottom,
      rgba(34, 33, 33, 0.1) 0%,
      rgba(34, 33, 33, 0.5) 50%,
      rgba(34, 33, 33, 1) 100%
    ),
    linear-gradient(
      to left,
      rgba(34, 33, 33, 1) 0%,
      rgba(34, 33, 33, 0.7) 20%,
      rgba(34, 33, 33, 0.25) 80%,
      rgba(34, 33, 33, 1) 100%
    );
  z-index: 1;
}

.hero_section > * {
  position: relative;
  z-index: 2;
}

.hero_text {
  display: grid;
  gap: 0.5rem;
  padding: 0 3rem;
}

.hero_text_body {
  width: 60%;
}

.hero_link a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--color_gold);
  color: var(--default_bg);
  border-radius: var(--border_radius);
  font-weight: 900;
  transition: var(--transition);
}

.hero_link a:hover {
  background-color: var(--text_color);
  color: var(--default_bg);
  border-radius: var(--border_radius);
}

/* --------------------------------- Catch Styles ----------------------------------------------- */
.catchwords ul {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
  justify-content: center;
  align-items: center;
}

.catchwords ul li {
  color: var(--text_color_variant);
  padding: 0.3rem 0.5rem;
  transition: var(--transition);
  font-weight: 900;
}

.catchwords ul li:hover {
  box-shadow: var(--box_shadow);
  color: var(--color_gold);
}

/* --------------------------------- Services Page Styles ----------------------------------------------- */
.services_section {
  display: grid;
  gap: 2rem;
  margin-top: 3rem;
  background: linear-gradient(135deg, #141414, #302f2f, #1e1c1c);
  background-size: 200% 200%;
  animation: smoothShift 20s ease-in-out infinite;
  padding: 3rem 1rem;
  border-radius: var(--border_radius);
  margin-bottom: 5rem;
}

.services_text,
.contact_text {
  display: grid;
  gap: 0.5rem;
  margin-top: 3rem;
}

.service_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: start; /* prevents vertical stretching shifts */
}

.service_card,
.service {
  border-radius: var(--border_radius);
  transition: var(--transition);
  height: 10rem;
  border: 0.1px solid rgb(71, 71, 71);
  transform-origin: center; /* ensures it scales from center */
  background-color: var(--text_color_variant);
}

.index_service {
  display: flex;
}

.services_container {
  display: grid;
  gap: 1rem;
  overflow: hidden;
}

.service {
  height: 8rem;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.service:hover {
  transform: scale(1.01);
  box-shadow: var(--box_shadow);
}

.service_info {
  margin-left: -0.5rem;
}

.service_image {
  width: 25rem;
  height: 8rem;
  overflow: hidden;
  margin-right: 0.5rem;
}

.service_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service_link a {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  color: var(--color_gold);
  transition: var(--transition);
}

.service_link a:hover {
  color: var(--deep_bg);
  transform: translateX(0.4rem);
  background-color: var(--color_gold);
  padding: 0.2rem 0.4rem;
  border-radius: var(--border_radius);
  font-weight: 900;
}

@keyframes smoothShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.service_card:hover {
  cursor: pointer;
  transform: scale(0.96);
  border: 0.2px solid var(--text_color_variant);
  background-color: var(--nav_bg);
}

.service_card a {
  display: grid;
}

.service_title {
  border-bottom: 0.1px solid rgb(71, 71, 71);
  background-color: var(--nav_bg);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.3rem 0.3rem;
  justify-content: flex-start;
}

.service_icon {
  width: 2.5rem;
  height: 2.1rem;
  overflow: hidden;
}

.service_icon img {
  width: 100%;
  height: 100%;
  filter: brightness(0) invert(1);
  transition: var(--transition);
}

.service_title h3 {
  padding: 0.3rem;
}

.service_desc p {
  padding: 0.3rem;
  font-size: 1rem;
  text-align: justify;
}

.service_page {
  display: grid;
  gap: 1rem;
  margin: 3rem 6.6rem;
  padding: 3rem 1rem;
  border-radius: var(--border_radius);
  transition: var(--transition);
  background: linear-gradient(135deg, #141414, #302f2f, #1e1c1c);
  background-size: 200% 200%;
  animation: smoothShift 20s ease-in-out infinite;
  overflow: hidden;
}

.service_page:hover {
  box-shadow: var(--box_shadow);
  border: 1px solid var(--text_color_variant);
}

.service_page_image {
  width: 100%;
  height: 25rem;
  overflow: hidden;
  border-radius: var(--border_radius);
}

.service_page_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service_page_description p {
  text-align: justify;
}

/* --------------------------------- Meet Our Team Styles ----------------------------------------------- */
.team {
  margin: 1rem auto;
  border-radius: var(--border_radius);
  padding: 3rem 1rem;
  background: linear-gradient(135deg, #141414, #302f2f, #1e1c1c);
  background-size: 200% 200%;
  animation: smoothShift 20s ease-in-out infinite;
}

.team:hover {
  box-shadow: var(--box_shadow);
}

.team_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.team_title h2 {
  margin-bottom: 1rem;
}

.team_member {
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: var(--border_radius);
  transition: var(--transition);
  position: relative;
  overflow: hidden;
  background-color: var(--default_bg);
  animation: smoothShift 20s ease-in-out infinite;
  overflow: hidden;
}

.team_member:hover {
  background: transparent;
  border-color: var(--nav_bg);
  border: 1px solid var(--text_color_variant);
}

.team_member-image {
  width: 100%;
  height: 8rem;
  overflow: hidden;
  object-fit: cover;
}

.team_member-image img {
  filter: saturate(1);
  height: 100%;
  width: 100%;
  border-radius: var(--border_radius);
  transition: var(--transition);
}

.team_member:hover img {
  filter: saturate(0);
}

.team_member-info * {
  text-align: center;
  margin-top: 0.5rem;
}

.team_member-info p {
  font-size: 0.8rem;
  margin-top: 0;
}

.team_member-socials {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: -100%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem 0 0 1rem;
  box-shadow: var(--box_shadow);
  transition: var(--transition);
  background: linear-gradient(135deg, #141414, #302f2f, #1e1c1c);
  background-size: 200% 200%;
  animation: smoothShift 20s ease-in-out infinite;
}

.team_member:hover .team_member-socials {
  right: 0%;
}

.team_member-socials a {
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
}

.team_member-socials a i {
  font-size: 1.6rem;
  background-color: var(--color_gold);
  color: var(--deep_bg);
  padding: 0.5rem;
  border-radius: 0.2rem;
  transition: var(--transition);
}

.team_member-socials a i:hover {
  box-shadow: var(--box_shadow);
  transform: scale(0.9);
  color: var(--color_gold);
  background-color: var(--text_color);
}

/* --------------------------------- Contact Page Styles ----------------------------------------------- */
.contact {
  background: linear-gradient(135deg, #141414, #302f2f, #1e1c1c);
  background-size: 200% 200%;
  animation: smoothShift 20s ease-in-out infinite;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: var(--border_radius);
  margin-top: 0.5rem;
}

.contact:hover {
  box-shadow: var(--box_shadow);
}

.contact_text h4 {
  margin: 0.5rem 0;
  font-weight: 600;
}

.contact_text p {
  margin-bottom: 30px;
  font-size: 0.8rem;
}

.list {
  margin-bottom: 2rem;
}

.list li {
  margin-bottom: 0.5rem;
}

.list li a {
  display: block;
  font-size: 0.9rem;
  transition: var(--transition);
}

.list li a:hover {
  transform: translateX(0.4rem);
  color: var(--color_gold);
}

.contact_icons i {
  height: 2rem;
  width: 2rem;
  background: var(--color_gold);
  color: var(--deep_bg);
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border_radius);
  margin-right: 15px;
  transition: var(--transition);
}

.contact_icons i:hover {
  background: var(--text_color);
  color: var(--color_gold);
  transform: scale(0.9);
  box-shadow: var(--box_shadow);
}

.contact-form form input,
form textarea {
  width: 100%;
  padding: 14px;
  background: var(--default_bg);
  color: var(--text_color);
  border: none;
  outline: none;
  font-size: 0.9rem;
  border-radius: var(--border_radius);
  margin-bottom: 0.6rem;
  transition: var(--transition);
}

.contact-form textarea {
  resize: none;
  height: 12rem;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
  background: var(--deep_bg);
  border: 0.1px solid var(--text_color_variant);
  padding: 14px;
  transform: translateX(0.4rem);
}

.contact-form .submit {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 900;
  background: var(--color_gold);
  color: var(--deep_bg);
  width: 10rem;
  transition: var(--transition);
}

.contact-form .submit:hover {
  cursor: pointer;
  background-color: var(--text_color);
}

/* --------------------------------- About Page Styles ----------------------------------------------- */
.why_us_section {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 2rem;
  padding: 4rem;
}

.why_us_images {
  display: grid;
  gap: 0.5rem;
}

.why_us_images_top,
.why_us_images_bottom {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  align-items: flex-start;
}

.why_us_images_top img,
.why_us_images_bottom img {
  width: 100%;
  height: 8rem;
  object-fit: cover;
  border-radius: var(--border_radius);
}

#small {
  width: 60%;
  height: 5rem;
  object-fit: cover;
  border-radius: var(--border_radius);
}

.why_us_texts {
  display: grid;
  gap: 2rem;
}

.why_us {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.why_us_icon {
  width: 7rem;
  height: 2.5rem;
  overflow: hidden;
}

.why_us_icon img {
  width: 100%;
  height: 100%;
  filter: brightness(0) invert(1);
  transition: var(--transition);
  object-fit: cover;
}

.why_us_text {
  display: grid;
  gap: 0.5rem;
}

/* --------------------------------- Footer Page Styles ----------------------------------------------- */
footer {
  background-color: var(--nav_bg);
  padding: 0 5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  height: 2.5rem;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(20px);
  transition: var(--transition);
}

center p {
  font-size: 0.8rem;
  padding-top: 0.9rem;
}
